<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Title</title>
</head>
<body>
    <h2>User List</h2>

    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
        </tr>
        <tr th:each="usr : ${users}">
            <td th:text="${usr.firstName}"></td>
            <td th:text="${usr.lastName}"></td>
            <td th:text="${usr.email}"></td>
        </tr>
    </table>
</body>
</html>