<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--<script type="text/javascript" src="/js/scriptForModal.js"></script>-->
    <title>Title</title>
</head>
<body>
<div class="box">
    <h3>User List</h3>
    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <tr th:if="${users.empty}">
            <td colspan="2"> No Users Available </td>
        </tr>
        <tr th:each="usr : ${users}">
            <td th:text="${usr.firstName}"></td>
            <td th:text="${usr.lastName}"></td>
            <td th:text="${usr.email}"></td>
            <td>
                <a th:href="@{/user/showUpdate(id=${usr.id})}">Update</a>
                | <a th:href="@{/user/delete(id=${usr.id})}">Delete</a>
            </td>
        </tr>
    </table>
    <button id="myBtn">Add User</button>
    <form th:action="@{search}" method="post">
        <input type="text" name="searchName"   placeholder="Type name to find user.">
        <button>Find</button>
    </form>
</div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form th:action="@{processForm}" method="post" th:object="${usr}">
                <input type="text" th:field="*{firstName}"  placeholder="Type your name."><br>
                <input type="text" th:field="*{lastName}" placeholder="Type your surname."><br>
                <input type="text" th:field="*{email}" placeholder="Type your email."><br>
                <button>Submit</button>
            </form>
        </div>
    </div>

<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>